<h1>Showing User</h1>
<ul>
  <li>
    <img src="<%= HamVarzeshi.AvatarUser.url({@user.avatar, @user}) %>" style=" width:30%; height:30%; display: block; margin-left: auto; margin-right: auto;">
  </li>
  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>
</ul>

<span><%= link "Edit  ", to: Routes.user_path(@conn, :edit, @user) %></span><br>
<span><%= link "Back  ", to: Routes.user_path(@conn, :index) %></span>
